<mat-dialog-content>
    <h3>{{title}}</h3>
    <form [formGroup]="formGroup">
        <div id="add-new-container">
            <ul class="add-new">
              <li class="add-new-item">
                <mat-form-field>
                  <mat-label>Plant Type</mat-label>
                  <input #species type="text" matInput formControlName="commonName" (blur)="changeDefaultPicure($event)" [matAutocomplete]="options" (keyup)="changeDefaultPicure($event)">
                  <mat-autocomplete #options="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor=" let type of filteredTypeList$ | async" [value]="type">{{type}}</mat-option>
                    <!-- <mat-option value={{otherOption}}>-- other/unlisted --</mat-option> -->
                        </mat-autocomplete>
                        <mat-hint>Required</mat-hint>
                        <mat-error>Please enter a plant</mat-error>
                      </mat-form-field>
                    </li>
              <li class="add-new-item">
                  <mat-form-field>
                      <input matInput placeholder="Plant Nickname" formControlName="nickName" />
                  </mat-form-field>
              </li>
            </ul>
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <mat-label>Purchase Date</mat-label>
                        <input #birthday matInput [matDatepicker]="picker1" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error>Invalid date</mat-error>
                    </mat-form-field>
                </li>

                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput placeholder="Purchased Store/Site" formControlName="wherePurchased" />
                    </mat-form-field>
                </li>
            </ul>
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <mat-label>Date Last Watered</mat-label>
                        <input #watered matInput [matDatepicker]="picker2" formControlName="lastWatered">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error>Invalid date</mat-error>
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <mat-label>Date Last Fertalized</mat-label>
                        <input #feartalized matInput [matDatepicker]="picker3" formControlName="lastFertalized">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-error>Invalid date</mat-error>
                    </mat-form-field>
                </li>
            </ul>
            <ul class="add-new">
                <li class="add-new-item">
                    <input hidden (change)="fileChosen($event)" #fileInput accept=".jpg, .png, .jpeg, .bmp" type="file" />
                    <div class="image-upload-container" *ngIf="!uploadedFileUrl">
                        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Your Photo</button>
                        <img class="placeholder-image" src={{defaultImage}}>
                    </div>
                </li>
                <li class="add-new-item">
                    <div class="image-upload-container" *ngIf="uploadedFileUrl">
                        <button mat-raised-button color="primary" (click)="clearImage()">Clear</button>
                        <figure>
                          <img class="placeholder-image" src={{uploadedFileUrl}}>
                          <figcaption>{{uploadedFileName}}</figcaption>
                        </figure>
                    </div>
                </li>
            </ul>
            <div class="add-new-notification">
                <mat-checkbox formControlName="receiveNotifications">
                    Would you like to receive water and feralization notifications for this plant?
                </mat-checkbox>
            </div>
        </div>
        <mat-dialog-actions align="end">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button (click)="save()" color="accent">Save</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
