@import '../app.colors.scss';
@import '../app.theme.variables.scss';
@import '../app.component.scss';
#nav-left {
    @include debug;
    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: $accent-white;
    }
    a:hover {
        color: $accent-md;
        cursor: pointer;
    }
    .selected-link {
        color: $accent-md;
    }
}

ul {
    padding: 0;
    li:first-child {
        a:after {
            padding: 0 0.5em;
            content: "|";
        }
        a:hover::after {
            color: $accent-white;
        }
    }
}
