<div id="info-container">
    <div id="info-toolbar">
        <div id="info-filter">
            <app-filters (filterChangeEvent)="updateFilter($event)" [placeholder_text]="'Filter Plant List...'">

            </app-filters>
        </div>
        <div id="info-controls">
            <button mat-mini-fab matTooltip="Suggest New Plant" [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
            <span class="material-icons">
              add_circle
              </span>
          </button>
        </div>
    </div>
    <div id="info-main">
        <app-type-card *ngFor="let type of typeList$ | async" [type]="type" (displayDetailsEvent)="displayDetailsCard($event)"></app-type-card>
    </div>
</div>
