<div id="dashboard-container">
    <div id="dashboard-controlls">
        <app-filters (filterChangeEvent)="updateFilter($event)" [placeholder_text]="'Filter your plant list...'"></app-filters>
        <span class="dashboard-buttons">
      <button mat-mini-fab color="" matTooltip="Suggest a new plant type"
      [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
        <mat-icon color="primary">add_circle_outline</mat-icon>
      </button>
    </span>
    </div>
    <div class="card-container">
        <app-type-card *ngFor="let type of typeList$ | async" [type]="type" (displayDetailsEvent)="displayDetailsCard($event)"></app-type-card>
    </div>
</div>
