@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

$primaryColor: #0f3407;
$secondaryColor: #b9d4b0;

$darkColor: #333;
$lightColor: #d3d3d3;

$xsSize: 0.95em;
$xlSize: 1.3em;

$font-body: 'Segoe UI';
$font-barlow: 'Barlow Semi Condensed';
$font-nav: $font-barlow, Arial, sans-serif !default;