@import './_mixin.scss';
@import './_varibles.scss';

body {
  
}

nav {
    font-family: $font-nav;
    text-transform: uppercase;
    text-align: right;
    justify-content: flex-end;
    padding-right: 3em;


    a:link {
        margin: 0;

    }

    a:not(:first-child):before {
        content: " | ";
        margin: 0 1em;
    }
}
.mdl-layout__header {
    background-color: transparent;
    background: url('../images/bg2.jpg');
    background-size: cover;
    height:100vh;
}
.mdl-layout__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mdl-navigation__link {
        color: $darkColor;
    }

    .mdl-layout-title {
        margin: 0 auto;

        img {
            max-width: 200px;
        }
    }

    .item {
        height: 40px;
        margin-bottom: 10px;
    }
}
/* Reviews*/
.reviews {
    background: $darkColor;
    color: $lightColor;
    padding:1em;
}
/* Footer */
footer {
    background: $darkColor;
    color: $lightColor;
    font-size: $xsSize;
    padding: 1em 0;

    .container {
        text-align: center;

        a {
            color: $lightColor;
        }
    }
}

/* Dialog */
/* Desktop */
@media all and (min-width: 468px) {
    .mdl-layout__drawer-button {
        display: none;
    }
}