
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

Username:
<input type="text" />
<br />
Email:
<input type="text" />
<br />
Subject:
<input type="text" />
<br />
Comment:
<textarea></textarea>
<br />
<input type="submit" value="Send" />