@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <section class="grid-container">
                <div class="cols grid-area">
                    <div class="col grid-1">
                        <img src="~/images/mas-1.jpg" alt="">
                    </div>
                    <div class="col grid-2">
                        <img src="~/images/mas-2.jpg" alt="">
                    </div>
                    <div class="col grid-3">
                        <img src="~/images/mas-3.jpg" alt="">
                    </div>
                    <div class="col grid-4">
                        <img src="~/images/mas-4.jpg" alt="">
                    </div>
                    <div class="col grid-5">
                        <img src="~/images/mas-11.jpg" alt="">
                    </div>
                    <div class="col grid-6">
                        <img src="~/images/mas-6.jpg" alt="">
                    </div>
                    <div class="col grid-7">
                        <img src="~/images/mas-7.jpg" alt="">
                    </div>
                    <div class="col grid-8">
                        <img src="~/images/mas-8.jpg" alt="">
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">How It Works</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
