@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <section class="grid-container">
                <div class="cols grid-area">

                    <div class="col grid-2">
                        <img src="~/images/mas-2.jpg" alt="">
                    </div>
                    <div class="col grid-3">
                        <img src="~/images/mas-3.jpg" alt="">
                    </div>
                    <div class="col grid-4">
                        <img src="~/images/mas-4.jpg" alt="">
                    </div>
                    <div class="col grid-1">
                        <img src="~/images/mas-1.jpg" alt="">
                    </div>
                </div>
            </section>
        </div>
        <div class="col-5">
            <div class="text-center">
                <h1 class="display-4"><a name="howitworks"> How It Works</a></h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


                <h1><span class="circle">1</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


                <h1><span class="circle">2</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


                <h1><span class="circle">3</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
        </div>
    </div>
</div>



