
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

Username:
<input type="text" />
<br />
Password:
<input type="text" />
<br />
Stay logged in?
<input type="checkbox" />
<br />
<input type="submit" value="Login" />