
@{
    ViewData["Title"] = "Register";
}

    <h1>Register</h1>

Username:
<input type="text" />
<br />
Password:
<input type="text" />
<br />
Upload Avatar:
<input type="file" /><br />
Stay logged in?
<input type="checkbox" />
<br />
<input type="checkbox" /> I've read the terms of service agreement
<br />
<input type="submit" value="Register" />