<div id="dash-container">
    <div id="dash-toolbar">
        <div id="dash-filter">
            <app-filters (filterChangeEvent)="updateFilter($event)" [placeholder_text]="'Filter Plant List...'"></app-filters>
        </div>
        <div id="dash-controls">
            <button mat-mini-fab matTooltip="Add New Plant" (click)="addPlant()" [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
              <span class="material-icons">
                add_circle
                </span>
            </button>
            <!-- Button To Sort by:
               <button mat-mini-fab color="" matTooltip="Sort Alphabetically" [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
              <span class="material-icons">
                sort
                </span>
            </button> -->
            <button mat-mini-fab matTooltip="Mark All Plants Watered" [matTooltipShowDelay]="tooltipDelay " [matTooltipHideDelay]="tooltipDelay ">
              <span class="material-icons ">
                opacity
                </span>
              </button>

            <button mat-mini-fab matTooltip="Mark All Plants Fertalized" [matTooltipShowDelay]="tooltipDelay " [matTooltipHideDelay]="tooltipDelay">
              <span class="material-icons">
                filter_vintage
                </span>
            </button>
        </div>
    </div>
    <div id="dash-main">
        <app-plant-card *ngFor="let plant of (plantList$ | async); trackBy:trackByPlantId " [plant]="plant " (waterPlantEvent)="waterPlant($event) " (fertalizePlantEvent)="fertalizePlant($event) " (deletePlantEvent)="deletePlant($event)
                " (viewCareSheetEvent)="displayDetailsCard($event) " (updatePlant)="updatePlant($event) "></app-plant-card>
    </div>
</div>
