<div id="dashboard-container">
  <div id="dashboard-controlls">
    <app-filters (filterChangeEvent)="updateFilter($event)" [placeholder_text]="'bla'"></app-filters>
    <span class="dashboard-buttons">
      <button mat-mini-fab color="" matTooltip="Add a new plant to your home"
      [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
        <mat-icon color="primary">add_circle_outline</mat-icon>
      </button>
      <button mat-mini-fab color="" matTooltip="Water all plants"
        [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
        <mat-icon svgIcon="action-watering"></mat-icon>
      </button>
      <button mat-mini-fab color="" matTooltip="Fertalize all plants"
      [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
      <mat-icon svgIcon="action-fertalize"></mat-icon>
    </button>
    </span>
  </div>
  <div class="card-container" *ngIf="(dashboardDisplay$) =='user'">
    <app-plant-card
    *ngFor="let plant of plantList$ | async" [plant]="plant"
    (waterPlantEvent)="waterPlant($event)"
    (fertalizePlantEvent)="fertalizePlant($event)"
    (toggleAlertsEvent)="toggleAlerts($event)"
    (toggleFavoriteEvent)="toggleFavorite($event)"
    (deletePlantEvent)="deletePlant($event)"
    (viewCareSheetEvent)="displayDetailsCard($event)"
    (renamePlantEvent)="renamePlant($event)"
    ></app-plant-card>
  </div>

  <div class="card-container" *ngIf="(dashboardDisplay$) =='type'">
    <app-type-card *ngFor="let type of typeList$ | async" [type]="type"
     (displayDetailsEvent)="displayDetailsCard($event)"></app-type-card>
  </div>
</div>
