@import '../../app.colors.scss';
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#dashboard-controlls {
    margin: 0px 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

//#dashboard-container {}
.dashboard-buttons {
    width: 30%;
    max-width: 200px;
    display: inline-flex;
}
