<mat-dialog-content>
    <h3>Add New Plant</h3>
    <form [formGroup]="newPlantType">
        <div id="add-new-container">
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Latin Name" formControlName="latinName">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Common Name" formControlName="commonName" />
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item fullwidth">
                    <mat-form-field>
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Difficulty</h2>
                        <mat-radio-group class="" formControlName="difficulty">
                            <mat-radio-button value="beginner">Beginner</mat-radio-button>
                            <mat-radio-button value="elementary">Elementary</mat-radio-button>
                            <mat-radio-button value="intermediate">Intimidate</mat-radio-button>
                            <mat-radio-button value="advanced">Advanced</mat-radio-button>
                            <mat-radio-button value="expert">Expert</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Toxicity</h2>
                        <mat-checkbox formControlName="toxicToCats">Cats</mat-checkbox>
                        <mat-checkbox formControlName="toxicToDogs">Dogs</mat-checkbox>
                        <mat-checkbox formControlName="toxicToSmallAnimals">Small-Animals</mat-checkbox>
                    </mat-list>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Humidity Low %" formControlName="humidityLowLevel">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Humidity High %" formControlName="humidityHighLevel" />
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Light Level</h2>
                        <mat-radio-group class="" formControlName="lightLevel">
                            <mat-radio-button value="low">Low</mat-radio-button>
                            <mat-radio-button value="medium">Medium</mat-radio-button>
                            <mat-radio-button value="bright">Bright</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Light Time</h2>
                        <mat-radio-group class="" formControlName="lightTime">
                            <mat-radio-button value="none">0</mat-radio-button>
                            <mat-radio-button value="four">4 Hrs</mat-radio-button>
                            <mat-radio-button value="six">6 Hrs</mat-radio-button>
                            <mat-radio-button value="eight">8 Hrs</mat-radio-button>
                            <mat-radio-button value="ten">10 Hrs</mat-radio-button>
                            <mat-radio-button value="twelve">12 Hrs</mat-radio-button>
                            <mat-radio-button value="fourteen">14 Hrs</mat-radio-button>
                            <mat-radio-button value="sixteen">16 Hrs</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Soil Ph" formControlName="soilPh">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Soil Type</h2>
                        <mat-radio-group class="" formControlName="soilType">
                            <mat-radio-button value="gravel">Gravel</mat-radio-button>
                            <mat-radio-button value="potting">Potting</mat-radio-button>
                            <mat-radio-button value="topSoil">TopSoil</mat-radio-button>
                            <mat-radio-button value="gritty">Gritty</mat-radio-button>
                            <mat-radio-button value="peatSoil">PeatSoil</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Watering Frequency</h2>
                        <mat-radio-group class="" formControlName="wateringFrequency">
                            <mat-radio-button value="daily">Daily</mat-radio-button>
                            <mat-radio-button value="biWeekly">BiWeekly</mat-radio-button>
                            <mat-radio-button value="triWeekly">TriWeekly</mat-radio-button>
                            <mat-radio-button value="weekly">Weekly</mat-radio-button>
                            <mat-radio-button value="triWeekly">TriWeekly</mat-radio-button>
                            <mat-radio-button value="monthly">Monthly</mat-radio-button>
                            <mat-radio-button value="semiMonthly">SemiMonthly</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Watering Type</h2>
                        <mat-radio-group class="" formControlName="waterType">
                            <mat-radio-button value="tap">Tap</mat-radio-button>
                            <mat-radio-button value="Distilled_Purified">Distilled/Purified</mat-radio-button>
                            <mat-radio-button value="Rain_R_O_Water">Rain/RO Water</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Fertalizer Frequency</h2>
                        <mat-radio-group class="" formControlName="fertilizerFrequency">
                            <mat-radio-button value="none">None</mat-radio-button>
                            <mat-radio-button value="weekly">Weekly</mat-radio-button>
                            <mat-radio-button value="fortnight">Fortnight</mat-radio-button>
                            <mat-radio-button value="monthly">Monthly</mat-radio-button>
                            <mat-radio-button value="semiMonthly">SemiMonthly</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
                <li class="add-new-item">
                    <mat-list>
                        <h2 mat-subheader>Fertalizer Type</h2>
                        <mat-radio-group class="" formControlName="fertalizerType">
                            <mat-radio-button value="none">None</mat-radio-button>
                            <mat-radio-button value="all_Purpose">All Purpose (20-20-20)</mat-radio-button>
                            <mat-radio-button value="all_Purpose_24_8_16">All Purpose (24-8-16) </mat-radio-button>
                            <mat-radio-button value="rose_adnd_Flower_3_5_3">Rose & Flower (3-5-3)</mat-radio-button>
                            <mat-radio-button value="nitroginRich">Nitrogren Rich</mat-radio-button>
                            <mat-radio-button value="phosphateRich">Phosphate Rich</mat-radio-button>
                            <mat-radio-button value="potasiumRich">Potasium Rich</mat-radio-button>
                        </mat-radio-group>
                    </mat-list>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Kingdom" formControlName="scienceKingdom">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Clade" formControlName="scienceClade1" />
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Clade" formControlName="scienceClade2">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Clade" formControlName="scienceClade3" />
                    </mat-form-field>
                </li>
            </ul>

            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Order" formControlName="scienceOrder">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Family" formControlName="scienceFamily" />
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <!-- START -->
            <ul class="add-new">
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="SubFamily" formControlName="scienceSubfamily">
                    </mat-form-field>
                </li>
                <li class="add-new-item">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Genus" formControlName="scienceGenus" />
                    </mat-form-field>
                </li>
            </ul>
            <!-- END -->
            <ul class="add-new">
                <li class="add-new-item">
                    <input hidden (change)="fileChosen($event)" #fileInput accept=".jpg, .png, .jpeg, .bmp" type="file" />
                    <div class="image-upload-container" *ngIf="!uploadedFileName">
                        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Default Photo</button>
                    </div>
                    <div class="image-upload-container" *ngIf="uploadedFileName">
                        <img class="placeholder-image" src={{uploadedFileUrl}}><br />
                        <button mat-raised-button color="primary" (click)="clearImage()">Clear</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</mat-dialog-content>

<div class="bottom-actions">
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button (click)="save()" color="accent">Save</button>
    </mat-dialog-actions>
</div>
