<div id="info-container">
    <div id="info-toolbar">
        <div id="info-filter">
            <app-filters (filterChangeEvent)="updateFilter($event)" [placeholder_text]="'Filter Plant List...'">

            </app-filters>
        </div>
        <div id="info-controls">
            <button mat-mini-fab matTooltip="Suggest New Plant" [matTooltipShowDelay]="tooltipDelay" [matTooltipHideDelay]="tooltipDelay">
            <span class="material-icons">
              sort
              </span>
          </button>
        </div>
    </div>
    <div id="Page-Header">
        <div class="item">
            <h2>Browse Plants</h2>
        </div>
        <div class="item">
            <button mat-mini-fab matTooltip="Suggest New Plant" (click)="addPlantType()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
          <i class="material-icons">add</i> Suggest New Plant
        </button>
        </div>
    </div>
    <div id="info-main">
        <app-plant-type-card *ngFor="let type of plantList$ | async" [planttype]="type" (displayDetailsEvent)="displayDetailsCard($event)"></app-plant-type-card>
    </div>
</div>
