#details-container{
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.thumbnail-container{
  width: 300px;
  height: auto;
  float: right;
  border: 1px solid #e2e2e2;
}

.description-container{
  max-width: 60%;
}
