<header>
    <div class="center-header">
        <mat-toolbar id="header" color="primary">
            <a href="http://plantluv.com"><img id="logo" src="assets/img/logo-white.png"></a>
            <!-- <nav>
    <ul>
      <li><a class="selected-link">My Plants</a></li>
      <li>Care Sheets</li>
    </ul>
  </nav> -->
            <app-nav-links></app-nav-links>
            <!--<button id="settings-button" (click)="openUserSettings()"><mat-icon>settings</mat-icon></button>-->
        </mat-toolbar>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <mat-toolbar id="footer">
        <div class="footer">
            <a href="http://plantluv.com">Plantluv.com 2020©</a> - All Rights Reserved
        </div>
    </mat-toolbar>
</footer>
