@import '~@angular/material/theming';
@import './app.theme.variables.scss';
@import './app.colors.scss';
#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: $primary-md;
    padding: 10px 17px;
    font-family: $font-barlow;
    #nav-logo {
        text-align: center;
        img {
            width: 85px;
        }
    }
    #nav-left {
        justify-content: flex-start;
    }
    // Left Navigation //
    //
    // CSS found in Nav-link. Media queries found below. Button Media queries and nav-link
    //
    // Right Navigation //
    #nav-right {
        float: right;
        width: auto;
        flex-grow: 1;
        text-align: right;
        margin-top: 0;
        .logout {
            a {
                background: $accent-md;
                border: $accent-white;
                padding: 6px 15px 10px 15px
            }
            a:hover {
                color: $primary-dk;
            }
        }
        .material-icons {
            vertical-align: middle;
            font-size: $xxlSize;
            padding-right: 5px;
        }
        .item-2:nth-child(3) {
            display: none;
        }
    }
    .item {
        justify-content: flex-start;
    }
}

@media all and (min-width: 0) and (max-width: 360px) {
    #nav-container {
        display: flex;
        padding: 0px;
        #nav-logo {
            text-align: center;
            float: left;
            img {
                width: 85px;
                padding: 5px;
            }
        }
        #nav-left {
            order: 3;
            line-height: 8px;
            background: $accent-md;
            flex-grow: 1;
            padding-left: 1.5em;
            a,
            a:active,
            a:visited {
                border: $accent-white;
                cursor: pointer;
            }
        }
        #nav-right {
            order: 0;
            .item-2:nth-child(2) {
                display: initial;
            }
            .item-2:nth-child(4) {
                display: none;
            }
        }
    }
}

// Footer
footer {
    mat-toolbar {
        background-color: $grey-dk;
        font-size: $xxsSize;
        margin: 0 auto;
        justify-content: center;
        color: $accent-white;
    }
}
