<header>
  <mat-toolbar id="header" color="primary">
    <img id="logo" src="assets/img/logo.png">
    <nav>
      <ul>
        <li><a class="selected-link">My Plants</a></li>
        <li>Care Sheets</li>
      </ul>
    </nav>
    <app-filter (filterChangeEvent)="updateFilter($event)"></app-filter>
    <button id="settings-button"(click)="openUserSettings()"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar id="footer">
    This is the bottom of the page. Nowhere to go from here but up.<br/>
  </mat-toolbar>
</footer>
