@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
$primary-lt: #39796b;
$primary-md: #004d40;
$primary-dk: #00251a;
$accent-lt: #ddece9;
$accent-md: #ef6c00;
$accent-dk: #833108;
$accent-white: #fff;
$background-color: #efebe9;
$border-color: #d7ccc8;
$shadow-color: #bcaaa4;
$warning-color: #f44336;
$grey-dk: #333;
$xsSize: 0.95em;
$xlSize: 1.1em;
$xxlSize: 1.8em;
$font-body: 'Segoe UI';
$font-barlow: 'Barlow Semi Condensed';