@import '~@angular/material/theming';
  $main-app-primary: mat-palette($mat-green, 600, 300, 900);
  $main-app-accent: mat-palette($mat-orange, 700, 500, 900);

  $app-warn: mat-palette($mat-red);

  $main-app-theme: mat-light-theme($main-app-primary, $main-app-accent, $app-warn);
  $main-app-dark-theme: mat-dark-theme($main-app-primary, $main-app-accent, $app-warn);
