$primary-lt:  #60ad5e;
$primary-md:  #2e7d32;
$primary-dk:  #005005;

$accent-lt: #ff9d3f;
$accent-md: #ef6c00;
$accent-dk: #833108;

$background-color:	#efebe9;
$border-color:	#d7ccc8;
$shadow-color:	#bcaaa4;

$warning-color: #f44336;
