@import '~@angular/material/theming';
@import './app.colors.scss';

main{
  padding-left: 10%;
  padding-right: 10%;
  // background-image: linear-gradient(#005005, #60ad5e 15%)
  background-image: linear-gradient($primary-dk, $primary-md 15%)
}
#header{
  background-color: $primary-dk;
  height: 80px;
}
#logo{
  height: 75px;
  width: auto;
}
#footer{
  background: $primary-md;
  height: 40px;
}
nav {
  margin: 0px 30px;
}
nav > ul{
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
nav > ul > li{
  float: left;
}
nav > ul > li:not(:last-child)::after{
  content: "\00A0|\00A0";
  color: $shadow-color;
}
.selected-link{
  border-bottom: 2px solid $accent-md;
}
#settings-button {
  margin-left: 25px;
  float: right;
  border-radius: 25px;
}
