#dashboard-container{
  @import '../../app.colors.scss';

  // background-color: #f1f1f1;
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
}
