.plant-card{
  border: 1px solid;
    width: fit-content;
    box-shadow: 10px 10px 5px #c0c0c0;
    border-radius: 10px;
    margin: 10px
}

.plant-card img{
  display: block;
  margin: auto;
}
.mat-card-actions{
  display: flex;
}
