@import '../../app.colors.scss';

.form-container{
  display: flex;
  flex-direction: column;
}

.dialog-title{
  text-align: center;
  font-size: larger;
}

.placeholder-image{
  height: auto;
  width: 150px;
  margin: auto;
  border: 1px solid $border-color;
}

.image-upload-container{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.date-input-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 45vw;
    mat-form-field{
      max-width: 30%;
    }
}

.error-message {
  color: $warning-color;
  font-size: 75%;
  margin-top: -10px;
  font-weight: 400;
  line-height: 1.125;
  flex-basis: 100%;
}
